.m-story--denis,
.m-story--denis .tip::before {
	background: #e4b7f4;
}

/**
 * Chapters
 * ----------------------------
 */

/**
 *
 * 7:00
 * ______________
 */

.m-story--denis [data-label="chapter-7-00"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

.m-story--denis[data-chapter="chapter-7-00"] [data-label="chapter-7-00"] .picture {
	opacity: 1;
}

/**
 * Window
 */
.m-story--denis .chpt1-window {
	opacity: 0;
	will-change: transform, opacity;
	transition: 250ms ease;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-window {
	opacity: 1;
}

/**
 * Snowlakes
 */
.m-story--denis .chpt1-showflakes {
	transition: 2250ms ease-out;
	transform: translateY(-50px);
	will-change: transform;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-showflakes {
	transform: none;
}

/**
 * Table
 */
.m-story--denis .chpt1-table {
	transition: 600ms ease-in;
	transform: translateX(-50px);
	will-change: transform;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-table {
	transform: none;
}

/**
 * Calendar
 */
.m-story--denis .chpt1-calendar {
	transition: 400ms ease-in;
	transform: translateY(-10px);
	opacity: 0;
	will-change: transform, opacity;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-calendar {
	transform: none;
	opacity: 1;
}

/**
 * Bed
 */
.m-story--denis .chpt1-bed {
	transition: 400ms ease-in;
	transform: translateX(-15px);
	opacity: 0;
	will-change: transform, opacity;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-bed {
	transform: none;
	opacity: 1;
}

/**
 * Dude
 */
.m-story--denis .chpt1-dude {
	transition: 800ms ease-in;
	opacity: 0;
	transform: skewX(20deg) skewY(5deg) rotate(-2deg) translateY(-50px) scale(1, 0.5);
	transform-origin: 20% 80%;
	will-change: transform, opacity;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-dude {
	transform: none;
	opacity: 1;
}

/**
 * Light
 */
.m-story--denis .chpt1-light {
	transition: 1400ms ease-in;
	transform: scale(1, 0);
	transform-origin: 0% 25.4%;
	opacity: 0;
	will-change: transform, opacity;
}

.m-story--denis[data-chapter="chapter-7-00"] .chpt1-light {
	transform: none;
	opacity: 0.2;
}



/**
 *
 * 8:50
 * ______________
 */

.m-story--denis[data-label="chapter-8-50"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

.m-story--denis[data-chapter="chapter-8-50"] [data-label="chapter-8-50"] .picture {
	opacity: 1;
}

.m-story--denis [data-label="chapter-8-50"] .bubble {
	top: 20%;
	right: 10%;
	opacity: 0;
	transition: 300ms ease-in;
	transition-delay: 500ms;
}

.m-story--denis[data-chapter="chapter-8-50"] [data-label="chapter-8-50"] .bubble {
	opacity: 1;
}

@media (max-width: 1200px) {
	.m-story--denis [data-label="chapter-8-50"] .bubble {
		top: 10%;
	}
}

@media (max-width: 1000px) {
	.m-story--denis [data-label="chapter-8-50"] .bubble {
		top: 3%;
	}
}

/**
 * BG Objects
 */
.m-story--denis .chpt2-bg-objects {
	transition: transform 3000ms ease-out, opacity 200ms ease-in;
	transform: translateX(-30px);
	will-change: transform, opacity;
	opacity: 0
}

.m-story--denis[data-chapter="chapter-8-50"] .chpt2-bg-objects {
	transform: translateX(30px);
	opacity: 1;
}

/**
 * Bag
 */
.m-story--denis .chpt2-bag,
.m-story--denis .chpt2-comp {
	will-change: opacity, transform;
}

.m-story--denis[data-chapter="chapter-8-50"] .chpt2-bag {
	animation: bounceInDown 250ms;
}

/**
 * Computer
 */
.m-story--denis[data-chapter="chapter-8-50"] .chpt2-comp {
	animation: bounceInDown 700ms;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.m-story--denis .chpt2-dude {
	transition: 450ms ease-in;
	will-change: opacity;
	opacity: 0
}

.m-story--denis[data-chapter="chapter-8-50"] .chpt2-dude {
	opacity: 1;
}



/**
 *
 * 13:15
 * ______________
 */
.m-story--denis [data-label="chapter-13-15"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

.m-story--denis[data-chapter="chapter-13-15"] [data-label="chapter-13-15"] .picture {
	opacity: 1;
}


.m-story--denis [data-label="chapter-13-15"] .bubble {
	right: 100px;
	opacity: 0;
	transition: 300ms ease-in;
	transition-delay: 500ms;
}

.m-story--denis[data-chapter="chapter-13-15"] [data-label="chapter-13-15"] .bubble {
	opacity: 1;
}

@media (max-width: 1000px) {
	.m-story--denis [data-label="chapter-13-15"] .bubble {
		right: 5%;
		max-width: 86%;
		top: 10%;
	}
}

/**
 * Dude
 */
.m-story--denis .chpt3-dude {
	transition: transform 3000ms ease-out, opacity 200ms ease-in;
	transform: scale(0.8)
	will-change: transform, opacity;
	opacity: 0
}

.m-story--denis[data-chapter="chapter-13-15"] .chpt3-dude {
	transform: scale(1.05);
	opacity: 1;
}

/**
 * 	14:05;
 * 	_____________
 */
.m-story--denis [data-label="chapter-14-05"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

.m-story--denis[data-chapter="chapter-14-05"] [data-label="chapter-14-05"] .picture {
	opacity: 1;
}

.m-story--denis [data-label="chapter-14-05"] .bubble {
	top: 40%;
	transform: translateY(-50%);
	right: auto;
	left:  10px;
	opacity: 0;
	transition: 300ms ease-in;
	transition-delay: 1000ms;
}

.m-story--denis[data-chapter="chapter-14-05"] [data-label="chapter-14-05"] .bubble {
	opacity: 1;
}

@media (max-width: 1390px) {
	.m-story--denis [data-label="chapter-14-05"] .bubble {
		top: 50%;
	}
}


@media (max-width: 1200px) {
	.m-story--denis[data-label="chapter-14-05"] .bubble {
		top: 70%;
	}

	.m-story--denis [data-label="chapter-14-05"] .bubble::after {
		display: none;
	}
}

@media (max-width: 1000px) {
	.m-story--denis [data-label="chapter-14-05"] .bubble {
		top:  80%;
		left: 5%;
		right:  auto;
		max-width: 86%;
	}

	.m-story--denis[data-label="chapter-14-05"] .bubble::after {
		display: none;
	}
}

/**
 * Dude
 */
.m-story--denis .chpt4-dude {
	transition: transform 3000ms ease-out, opacity 200ms ease-in;
	transform: scale(0.7);
	transform-origin: 50% 70%;
	will-change: transform, opacity;
	opacity: 0
}

.m-story--denis[data-chapter="chapter-14-05"] .chpt4-dude {
	transform: scale(1);
	opacity: 1;
}

/**
 * Snowlakes
 */
.m-story--denis .chpt4-showflakes path:nth-child(even),
.m-story--denis .chpt4-showflakes path:nth-child(odd) {
	will-change: transform;
}

.m-story--denis .chpt4-showflakes path:nth-child(even) {
	transition: 4050ms ease-out;
	transform: translateY(-80px);
}

.m-story--denis .chpt4-showflakes path:nth-child(odd) {
	transition: 6250ms ease-out;
	transform: translateY(-100px);
}

.m-story--denis[data-chapter="chapter-14-05"] .chpt4-showflakes path:nth-child(even) {
	transform: translateY(60px);
}

.m-story--denis[data-chapter="chapter-14-05"] .chpt4-showflakes path:nth-child(odd) {
	transform: translateY(30px);
}


/**
 * 	Chapter 5
 * 	_____________
 */
.m-story--denis [data-label="chapter-14-30"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

.m-story--denis[data-chapter="chapter-14-30"] [data-label="chapter-14-30"] .picture {
	opacity: 1;
}

.m-story--denis[data-chapter="chapter-14-30"] .chpt5-dude{
	animation: bounceInDown 500ms;
}

.m-story--denis .chpt5-bubble {
	transition: transform 300ms ease-out, opacity 200ms ease-in;
	transform: scale(0.8);
	transform-origin: 70% 20%;
	transition-delay: 500ms;
	will-change: transform, opacity;
	opacity: 0
}

.m-story--denis[data-chapter="chapter-14-30"] .chpt5-bubble {
	transform: scale(1);
	opacity: 1;
}