@font-face {
    font-family: "Megafont";
    src: url('../fonts/megafont.woff') format("woff");
}

@font-face {
    font-family: "Walsheim";
    src: url('../fonts/walsheim/GTWalsheimProRegular.ttf') format("truetype");
}

.m-story {
	position: relative;
	font-family: "Walsheim", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.m-story .logos {
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 2;
}

.m-story .logos a {
	border: 0;
	display: inline-block;
}

.m-story .logos img {
	height: 40px;
}

.m-story .megafon-logo {
	margin-right: 15px;
}

@media (max-width: 1000px) {
	.m-story .logos {
		position: static;
		padding: 25px;
		float: right;
	}
	.m-story .logos img {
		height: 28px;
	}

	.m-story .megafon-logo {
		margin-right: 10px;
	}
}

.m-story a {
	color: #67008D;
	border-bottom: 1px solid rgba(103, 0, 141, 0.43);;
	text-decoration: none;
	font-weight: bold;
}

/**
* Left
* --------------------------
*/
.m-story .left {
	/* position: fixed;
	padding: 50px;
	width: 50%;
	box-sizing: border-box; */
}

.m-story .name {
	position: fixed;
	left: 50px;
	top: 50px;
	font-family: "Megafont";
	font-size: 34px;
	color: #67008D;
	line-height: 1.3em;
}

/**
* Right
* --------------------------
*/
.m-story .right {
	max-width: 570px;
	margin-left: 50%;
	padding: 150px 50px 50px;
	box-sizing: border-box;
}

.m-story .picture {
	position: fixed;
	left: 0;
	top: 80px;
	margin-top: 20px;
	width: 700px;
}

/**
 * Bubble
 * _________________
 */
.m-story .bubble {
	position: absolute;
	top: 50px;
	right: 50px;
	padding: 20px 30px;
	background: #fff;
	border-radius: 15px;
	width: 230px;
	font-size: 15px;
	line-height: 1.5em;
}

.m-story .bubble::after {
	content: '';
	position: absolute;
	width: 38px;
	height: 16.2px;
	bottom: -9px;
	left: 30px;
	background: url('../corner.svg') no-repeat;
}

.m-story .bubble--small {
	width: auto;
	background: none;
}

.m-story .bubble--small::after {
	display: none;
}

.m-story .bubble--corner-right::after {
	content: '';
	position: absolute;
	width: 38px;
	height: 16.2px;
	bottom: auto;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	left: auto;
	right: -20px;
	background: url('../corner.svg') no-repeat;
}

.m-story .bubble-corner-top::after {
	top: -9px;
	transform:  rotate(180deg);
	left: 30px;
	right: auto;
}

.m-story .bubble img {
	position: absolute;
	right: -30px;
	top: -75px;
}

.m-story .bubble--face-bottom img {
	top: auto;
	right: -20px;
	bottom: -40px;
}

@media (max-width: 1000px) {
	.m-story .bubble {
		font-size: 13px;
		line-height: 1.4em;
		padding: 10px 15px;
	}

	.m-story .bubble img {
		height: 40px;
		top: -20px;
		right: -15px;
	}

}


@media (max-width: 1390px) {
	.m-story .picture {
		width: 640px;
	}
}

@media (max-width: 1200px) {
	.m-story .picture {
		width: 550px;
	}
}

.m-story .picture svg {
	max-width: 100%;
	height: auto;
}


.m-story .hero {
	padding-bottom: 40px;
	border-bottom: 3px solid #67008D;
	font-size: 26px;
	line-height: 1.5em;
}


@media (max-width: 1000px) {

	.m-story {
		padding: 10px 0;
	}

	.m-story .left {
		position: static;
		width: auto;
		padding: 20px;
	}

	.m-story .name {
		position: static;
		font-size: 26px;
	}

	.m-story .hero {
		font-size: 18px;
		padding-bottom: 20px;
	}

	.m-story .right {
		margin-left: 0;
		padding: 0 20px;
		margin: 0 auto;
		max-width: 500px;
	}

	.m-story .picture {
		width: 100%;
		top: auto;
		opacity: 1 !important;
		position: relative;
	}
}

.m-story .chapter {
	font-size: 18px;
	line-height: 1.5em;
}

.m-story .time {
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: "Megafont";
	font-size: 36px;
	color: #00B956;
}

@media (max-width: 1000px) {
	.m-story .time {
		display: block;
		text-align: center;
		font-size: 26px;
		margin-bottom: 20px;
	}
}


.m-story .tip {
	position: relative;
	margin-top: 40px;
	border: 3px solid #67008D;
	border-radius: 15px;
	padding: 35px;
	color: #67008D;
}

.m-story .tip::before {
	content: attr(data-tip);
	position: absolute;
	top: -20px;
	left: 25px;
	padding: 5px 10px;
	font-family: "Megafont";
	color: #67008D;
	font-size: 20px;
}

.m-story .read-next {
	display: inline-block;
	margin-top: 20px;
	font-family: "Megafont";
	font-size: 20px;
	color: #67008D;
	text-decoration: none;
	border: 0;
}

.m-story .read-next::after {
	display: inline-block;
	content:  '';
	background: url('../read-next-arrow.svg') no-repeat;
	width: 43px;
	height: 13.8px;
	vertical-align: middle;
	margin-left: 10px;
}

@media (max-width: 1000px) {
	.m-story .tip {
		padding: 20px;
	}

	.m-story .read-next {
		display: inline-block;
		margin-bottom: 30px;
		font-size: 18px;
	}

}

[data-label="chapter-1"] .picture,
[data-label="chapter-2"] .picture,
[data-label="chapter-3"] .picture,
[data-label="chapter-4"] .picture {
	opacity: 0;
	transition: opacity 1000ms ease;
}

[data-chapter="chapter-1"] [data-label="chapter-1"] .picture,
[data-chapter="chapter-2"] [data-label="chapter-2"] .picture,
[data-chapter="chapter-3"] [data-label="chapter-3"] .picture,
[data-chapter="chapter-4"] [data-label="chapter-4"] .picture {
	opacity: 1;
}



/**
 * Base animations. Dont forget to add endpoints
 */
.pull-left {
	transition: 500ms ease-out;
	transform: translateX(50px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-right {
	transition: 500ms ease-out;
	transform: translateX(-50px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-right-slow {
	transition: 600ms ease-out;
	transform: translateX(-50px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-left-slow {
	transition: 600ms ease-out;
	transform: translateX(50px);
	opacity: 0;
	will-change: transform, opacity
}


.slow-pull-right {
	transition: 1000ms ease-out;
	transform: translateX(-40px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-up {
	transition: 300ms ease-out;
	transform: translateY(50px);
	opacity: 0;
	will-change: transform, opacity
}

.zoom-out {
	transition: 1000ms ease-out;
	transform: scale(1.2);
	transform-origin: 50% 50%;
	opacity: 0;
	will-change: transform, opacity
}

.zoom-in {
	transition: 1000ms ease-out;
	transform: scale(0.8);
	transform-origin: 50% 50%;
	opacity: 0;
	will-change: transform, opacity
}


.showflakes-evenodd path:nth-child(even),
.showflakes-evenodd path:nth-child(odd) {
	will-change: transform;
}

.showflakes-evenodd path:nth-child(even) {
	transition: 4050ms ease-out;
	transform: translateY(-80px);
}

.showflakes-evenodd path:nth-child(odd) {
	transition: 6250ms ease-out;
	transform: translateY(-100px);
}

.showflakes-oddeven path:nth-child(odd),
.showflakes-oddeven path:nth-child(even) {
	will-change: transform;
}

.showflakes-oddeven path:nth-child(odd) {
	transition: 4050ms ease-out;
	transform: translateY(-80px);
}

.showflakes-oddeven path:nth-child(even) {
	transition: 6250ms ease-out;
	transform: translateY(-100px);
}
/*
[data-chapter="chapter-14-05"] .showflakes-evenodd path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-14-05"] .showflakes-evenodd path:nth-child(odd) {
	transform: translateY(30px);
}
 */

/**
 * For moving mg object to the left
 */
.bg-object-move {
	transition: 1700ms ease-out;
	transform: translateX(100px);
	opacity: 0;
	will-change: transform, opacity
}

.wall-appear-right {
	transition: 1700ms ease-out;
	transform: translateX(-50px);
	will-change: transform;
}


/**
 * CTA blocks
 */
.m-cta {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
}

.m-cta .item {
	position: relative;
	width: 30%;
	background: #fff;
	padding: 40px;
	box-sizing: border-box;
	color: inherit;
	line-height: 1.5em;
	text-decoration: none;
	border: 0;
}

@media (max-width: 1200px) {
	.m-cta {
		padding: 30px;
	}
	.m-cta .item {
		width: 31%;
		padding: 30px;
	}
}

.m-cta .title {
	font-family: "Megafont";
	font-size: 32px;
	color: #67008D;
	margin-bottom: 30px;
	line-height: 1.3em;
}

.m-cta .item img {
	display: block;
	width: 150px;
	margin:  50px auto 0;
}

@media (max-width: 1000px) {
	.m-cta {
		position: static;
		flex-direction: column;
		padding: 20px;
		box-shadow: none !important;
		background: none !important;
	}

	.m-cta .item {
		width: 100%;
		padding: 30px;
		padding-right: 100px;
		margin-bottom: 20px;
		line-height: 1.4em;
		font-size: 15px;
	}

	.m-cta .item img {
		margin: 0;
		width: 70px;
		height: 70px;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.m-cta .title {
		font-size: 24px;
		margin-bottom: 20px;
	}
}