@font-face {
    font-family: "Megafont";
    src: url('../fonts/megafont.woff') format("woff");
}

@font-face {
    font-family: "Walsheim";
    src: url('../fonts/walsheim/GTWalsheimProRegular.ttf') format("truetype");
}

.m-story {
	position: relative;
	font-family: "Walsheim", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.m-story .logos {
	position: fixed;
	bottom: 50px;
	left: 50px;
}

.m-story .megafon-logo {
	margin-right: 15px;
}

/**
* Left
* --------------------------
*/
.m-story .left {
	position: fixed;
	padding: 50px;
	width: 50%;
	box-sizing: border-box;
}

.m-story .name {
	font-family: "Megafont";
	font-size: 34px;
	color: #67008D;
}

/**
* Right
* --------------------------
*/
.m-story .right {
	max-width: 570px;
	margin-left: 50%;
	padding: 150px 50px;
	box-sizing: border-box;
}

.m-story .picture {
	position: fixed;
	left: 0;
	top: 80px;
	margin-top: 20px;
	width: 700px;
}

/**
 * Bubble
 * _________________
 */
.m-story .bubble {
	position: absolute;
	top: 50px;
	right: 50px;
	padding: 20px 30px;
	background: #fff;
	border-radius: 15px;
	width: 230px;
	font-size: 15px;
	line-height: 1.5em;
}

.m-story .bubble::after {
	content: '';
	position: absolute;
	width: 38px;
	height: 16.2px;
	bottom: -9px;
	left: 30px;
	background: url('../corner.svg') no-repeat;
}

.m-story .bubble--small {
	width: auto;
	background: none;
}

.m-story .bubble--small::after {
	display: none;
}

.m-story .bubble--corner-right::after {
	content: '';
	position: absolute;
	width: 38px;
	height: 16.2px;
	bottom: auto;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	left: auto;
	right: -20px;
	background: url('../corner.svg') no-repeat;
}


.m-story .bubble img {
	position: absolute;
	right: -30px;
	top: -75px;
}

.m-story .bubble--face-bottom img {
	top: auto;
	right: -20px;
	bottom: -40px;
}




@media (max-width: 1390px) {
	.m-story .picture {
		width: 640px;
	}
}

@media (max-width: 1200px) {
	.m-story .picture {
		width: 550px;
	}
}

.m-story .picture svg {
	max-width: 100%;
	height: auto;
}

@media (max-width: 1000px) {

	.m-story .left {
		position: static;
		width: auto;
	}

	.m-story .right {
		margin-left: 0;
		padding: 0 20px;
		margin: 0 auto;
		max-width: 500px;
	}

	.m-story .picture {
		width: 100%;
		opacity: 1 !important;
		position: relative;
	}
}

.m-story .hero {
	padding-bottom: 40px;
	border-bottom: 3px solid #67008D;
	font-size: 26px;
	line-height: 1.5em;
}

.m-story .chapter {
	font-size: 18px;
	line-height: 1.5em;
}

.m-story .time {
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: "Megafont";
	font-size: 36px;
	color: #00B956;
}

.m-story .tip {
	position: relative;
	margin-top: 40px;
	border: 3px solid #67008D;
	border-radius: 15px;
	padding: 35px;
	color: #67008D;
}

.m-story .tip::before {
	content: attr(data-tip);
	position: absolute;
	top: -20px;
	left: 25px;
	padding: 5px 10px;
	font-family: "Megafont";
	color: #67008D;
	font-size: 20px;
}

.m-story .read-next {
	display: inline-block;
	margin-top: 20px;
	font-family: "Megafont";
	font-size: 20px;
	color: #67008D;
	text-decoration: none;
}

.m-story .read-next::after {
	display: inline-block;
	content:  '';
	background: url('../read-next-arrow.svg') no-repeat;
	width: 43px;
	height: 13.8px;
	vertical-align: middle;
	margin-left: 10px;
}


/**
 * Base animations. Dont forget to add endpoints
 */
.pull-left {
	transition: 300ms ease-out;
	transform: translateX(50px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-right {
	transition: 300ms ease-out;
	transform: translateX(-50px);
	opacity: 0;
	will-change: transform, opacity
}

.pull-up {
	transition: 300ms ease-out;
	transform: translateY(50px);
	opacity: 0;
	will-change: transform, opacity
}

.zoom-out {
	transition: 1000ms ease-out;
	transform: scale(1.2);
	transform-origin: 50% 50%;
	opacity: 0;
	will-change: transform, opacity
}

.zoom-in {
	transition: 1000ms ease-out;
	transform: scale(0.8);
	transform-origin: 50% 50%;
	opacity: 0;
	will-change: transform, opacity
}


.showflakes-evenodd path:nth-child(even),
.showflakes-evenodd path:nth-child(odd) {
	will-change: transform;
}

.showflakes-evenodd path:nth-child(even) {
	transition: 4050ms ease-out;
	transform: translateY(-80px);
}

.showflakes-evenodd path:nth-child(odd) {
	transition: 6250ms ease-out;
	transform: translateY(-100px);
}
/*
[data-chapter="chapter-14-05"] .showflakes-evenodd path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-14-05"] .showflakes-evenodd path:nth-child(odd) {
	transform: translateY(30px);
}
 */

/**
 * For moving mg object to the left
 */
.bg-object-move {
	transition: 1700ms ease-out;
	transform: translateX(100px);
	opacity: 0;
	will-change: transform, opacity
}