.m-story--oleg,
.m-story--oleg .tip::before {
	background: #AEF2CC;
}


[data-label="chapter-1"] .picture,
[data-label="chapter-2"] .picture,
[data-label="chapter-3"] .picture,
[data-label="chapter-4"] .picture {
	opacity: 0;
	transition: opacity 500ms ease;
}

[data-chapter="chapter-1"] [data-label="chapter-1"] .picture,
[data-chapter="chapter-2"] [data-label="chapter-2"] .picture,
[data-chapter="chapter-3"] [data-label="chapter-3"] .picture,
[data-chapter="chapter-4"] [data-label="chapter-4"] .picture {
	opacity: 1;
}

.m-story--oleg .bubble {
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 200ms ease-in, transform 200ms ease-in;
	will-change: opacity, transform;
	transition-delay: 500ms;
}


/**
 * Chapter 1
 * ----------------------
 */
[data-chapter="chapter-1"] .pull-right,
[data-chapter="chapter-1"] .zoom-in {
	transform: none;
	opacity: 1;
}

[data-chapter="chapter-1"] .showflakes-oddeven path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-1"] .showflakes-oddeven path:nth-child(odd) {
	transform: translateY(30px);
}


/**
 * Chapter 2
 * ----------------------
 */
[data-chapter="chapter-2"] .pull-left,
[data-chapter="chapter-2"] .slow-pull-right,
[data-chapter="chapter-2"] .pull-right-slow,
[data-chapter="chapter-2"] [data-label="chapter-2"] .bubble {
	transform: none;
	opacity: 1;
}

[data-chapter="chapter-2"] .showflakes-evenodd path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-2"] .showflakes-evenodd path:nth-child(odd) {
	transform: translateY(30px);
}

.m-story--oleg [data-label="chapter-2"] .bubble {
	top: 65%;
	right:  auto;
	left: 30%;
}



/**
 * Chapter 3
 * ----------------------
 */
[data-chapter="chapter-3"] .bg-object-move,
[data-chapter="chapter-3"] .pull-up,
[data-chapter="chapter-3"] [data-label="chapter-3"] .bubble {
	transform: none;
	opacity: 1;
}

[data-chapter="chapter-3"] .showflakes-oddeven path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-3"] .showflakes-oddeven path:nth-child(odd) {
	transform: translateY(30px);
}

.m-story--oleg [data-label="chapter-3"] .bubble::after {
	left: 45%;
}

@media (max-width: 1000px){
	.m-story--oleg [data-label="chapter-3"] .bubble {
		top: 0;
	}
}



/**
 * Chapter 4
 * ----------------------
 */

[data-chapter="chapter-4"] .zoom-in,
[data-chapter="chapter-4"] .pull-right,
[data-chapter="chapter-4"] [data-label="chapter-4"] .bubble {
	transform: none;
	opacity: 1;
}

[data-chapter="chapter-4"] .showflakes-evenodd path:nth-child(even) {
	transform: translateY(60px);
}

[data-chapter="chapter-4"] .showflakes-evenodd path:nth-child(odd) {
	transform: translateY(30px);
}

.m-story--oleg [data-label="chapter-4"] .bubble {
	left: 23%;
	right: auto;
	top: 10%;
}


@media (max-width: 1000px){
	.m-story--oleg [data-label="chapter-4"] .bubble {
		left: 15%;
		top: 0;
	}
}



