@font-face {
    font-family: "Megafont";
    src: url('../fonts/megafont.woff') format("woff");
}

@font-face {
    font-family: "Walsheim";
    src: url('../fonts/walsheim/GTWalsheimProRegular.ttf') format("truetype");
}

.sp-megafon	{
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	font-family: "Walsheim", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/**
 * Header
 * -------------
 */

.sp-megafon .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 40px 0 100px;
	text-align: center;
	z-index: 2;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0) 100%);
}

.sp-megafon .title {
	font-family: "Megafont";
	font-size: 50px;
	margin-bottom: 25px;
	color: #67008D;
}

@media (max-width: 1390px) {
	.sp-megafon .title {
		font-size: 42px;
	}
}

.sp-megafon .caption {
	font-size: 24px;
	color: #808080;
	line-height: 1.35em;
	max-width: 800px;
	margin: 0 auto;
}

.sp-megafon .logo {
	position: absolute;
	top: 40px;
	display: inline-block;
	cursor: pointer;
	z-index: 3;
}

.sp-megafon .logo img {
	width: auto;
	height:  60px;
}

.sp-megafon .logo--left {
	left:  60px;
}

.sp-megafon .logo--right {
	right:  60px;
}


/**
 * Chars
 * -------------
 */

.sp-megafon	.chars {
	display: flex;
	width: 100%;
}

.swiper-wrapper {
	display: flex;
	width: 100%;
}

.swiper-slide {
	width: 25%;
	display: flex;
}

.sp-megafon	.char {
	display: flex;
	width: 100%;
	position: relative;
	color: inherit;
	text-decoration: none;
	flex-direction: row;
	overflow: hidden;
}

.sp-megafon	.char--denis {
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(228,183,244,1) 70%);
}

.sp-megafon	.char--elena {
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(244,230,187,1) 70%);
}

.sp-megafon	.char--oleg {
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(174,242,204,1) 70%);
}

.sp-megafon	.char--anna {
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(199,220,228,1) 70%);
}

.sp-megafon	.char .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 50px 0 50px 50px;
	font-size: 20px;
}

.sp-megafon	.char .name {
	font-family: "Megafont";
	font-size: 34px;
	margin-bottom: 10px;
}

.char--denis .name {
	color: #67008D;
}

.char--elena .name {
	color: #E5BF61;
}

.char--oleg .name {
	color: #00B956;
}

.char--anna .name {
	color: #202C4E;
}

.char .picture {
	position: relative;
	margin: auto -8% auto auto;
}

@media (max-width: 1410px){
	.char .picture {
		margin-right: -20%;
		transform: scale(0.9);
	}
}

.char .picture .bg{
	transition: transform 150ms ease-in;
	will-change: transform;
	transform: scale(1.1);
}

.char:hover .picture .bg {
	transform: scale(1);
}

.char .picture .dude {
	position: absolute;
	bottom: -30px;
	left: 35%;
	transition: transform 150ms ease-in;
	will-change: transform;
}

.char:hover .picture .dude {
	transform: scale(1.05);
}

.swiper-wrapper {
	white-space: nowrap;
}



@media (max-width: 1000px){
	.sp-megafon {
		flex-direction: column;
		padding: 20px 0;
	}
	.sp-megafon	.header {
		position: static;
		transform:  none;
		max-width: auto;
		padding: 30px 70px;
		box-sizing: border-box;
	}

	.sp-megafon	.title {
		font-size: 20px;
	}

	.sp-megafon	.caption {
		margin: 0 -30px;
		font-size: 15px;
	}

	.sp-megafon	.picture {
		display: block;
		width: 150px;
		margin: 40px auto;
	}

	.sp-megafon	.bg,
	.sp-megafon	.dude {
		width: auto;
		height: 150px;
		transform: scale(1) !important;
	}

	.char .picture .dude {
		left: 50%;
		transform: translateX(-50%) !important;
	}

	.sp-megafon	.char .info {
		position: static;
		font-size: 18px;
	}

	.sp-megafon	.char .name {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.sp-megafon	.logo {
		top: 30px;
	}

	.sp-megafon	.logo--left {
		left: 20px;
	}

	.sp-megafon	.logo--right {
		right: 20px;
	}

	.sp-megafon	.logo img {
		height: 30px;
	}

	.sp-megafon	.caption {
		font-size: 18px;
	}
	.sp-megafon	.chars {
		/* flex-direction: column; */
		display: block;
		white-space: nowrap;
		overflow: hidden;
	}

	/**
	 * Slider
	 * -----------
	 */

	.swiper-wrapper {
		display: block;
	}

	.swiper-slide {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		position: relative;
		padding-right: 65px;
		padding-left: 65px;
		transition: all 250ms ease;
		will-change: transform, padding-left;
	}

	.sp-megafon	.char {
		display: block;
		width: auto;
		border-radius: 15px;
	}



	.sp-megafon	.swiper-slide:first-of-type {
		padding-left: 20px;
	}

	.sp-megafon	.swiper-slide:last-of-type {
		padding-right: 30px;
	}

	.sp-megafon	.swiper-slide-next {
		transform:  translateX(-60px);
		padding-left: 0;
	}

	.sp-megafon	.swiper-slide-active {
		padding-left: 30px;
	}

	.sp-megafon	.swiper-slide-prev {
		transform:  translateX(90px);
	}

	.sp-megafon	.char .info {
		padding: 20px
	}

	.sp-megafon	.char--denis {
     	background: rgba(228,183,244,1);
	}

	.sp-megafon	.char--elena {
		background: rgba(244,230,187,1);
	}

	.sp-megafon	.char--oleg {
		background: rgba(174,242,204,1);
	}

	.sp-megafon	.char--anna {
		background: rgba(199,220,228,1);
	}
}

