/**
 * Styles for Telegraph charts module
 * @todo split modules for separate files and use PostCSS for better scaling
 * @author Peter Savchenko <specc.dev@gmail.com>
 */

/**
 * Chart module
 * --------------------------------
 */
.tg-chart {
    position: relative;
    margin-bottom: 25px;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
}

.tg-chart__viewport {
    display: inline-block;
    vertical-align: bottom;
    will-change: transform;
}

.tg-chart svg {
    width: 100%;
    height: 100%;
}

.tg-chart g,
.tg-minimap g {
    transform-origin: bottom left;
    will-change: transform;
}

.tg-chart .oy-group,
.tg-minimap .oy-group {
    transition: transform 200ms ease;
    will-change: transform;
}

.tg-chart path,
.tg-minimap path {
    transform-origin: bottom left;
    transition: opacity 150ms ease;
    will-change: transform, opacity;
}

.tg-chart .tg-graph--hidden,
.tg-minimap .tg-graph--hidden {
    opacity: 0;
}


/**
 * Footer with dates
 * ----------------------------
 */
.tg-chart footer {
    padding: 15px 0;
    color: #939CA1;
    font-size: 12px;
    font-family: Roboto, 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
    /*margin-left: -26px;*/
}

.tg-chart time {
    position: absolute;
    display: block;
    white-space: nowrap;
    /*text-align: center;*/
    transition: opacity 200ms ease;
    will-change: opacity;
    /*flex-grow: 1;*/
    /*right: 0;*/
    /*min-width: 55px;*/
    /*transform: translateX(-50%);*/
    /*background: #eee;*/
    /*margin-left: -26px;*/
}

.tg-chart time.hided {
    opacity: 0;
}


/**
* Pointer: a line below the Tooltip
* --------------------------------
*/
.tg-pointer {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    opacity: 0;
    /*transition: opacity 150ms ease, left 50ms ease;*/
    will-change: opacity, left;
}

.tg-pointer--showed {
    opacity: 1;
}

.tg-pointer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: rgba(170,181,191,0.33);
}

.tg-pointer__pointer {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #1f2938;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    bottom: 0;
    margin-bottom: -5px;
    box-sizing: border-box;
    z-index: 2;
    transition: transform 100ms ease-in;
    will-change: transform;
}

/**
 * Mini map module
 * --------------------------------
 */
.tg-minimap {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
    border-top: 2px solid #C0D1E1;
    border-bottom: 2px solid #C0D1E1;
    cursor: pointer;
    border-radius: 8px;
}


.tg-minimap__left,
.tg-minimap__right {
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 20%;
    background: rgba(226,238,249,0.60);
    border-top: 2px solid #EDF5FB;
    border-bottom: 2px solid #EDF5FB;
    z-index: 2;
    cursor: default;
    will-change: width;
}

.tg-minimap__left {
    left: 0;
    border-radius: 8px 0 0 8px;
}

.tg-minimap__right {
    right: 0;
    border-radius: 0 8px 8px 0;
}

.tg-minimap__left-scaler,
.tg-minimap__right-scaler {
    position: absolute;
    height: calc(100% + 4px);
    width: 26px;
    top: -2px;
    z-index: 2;
    cursor: col-resize;
}

.tg-minimap__left-scaler {
    right: -13px;
}

.tg-minimap__right-scaler {
    left: -13px;

}

.tg-minimap__left-scaler::before,
.tg-minimap__right-scaler::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    background: #C0D1E1;
}

.tg-minimap__left-scaler::after,
.tg-minimap__right-scaler::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 3px;
    border-radius: 3px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tg-minimap__left-scaler::before {
    left: 5px;
    border-radius: 8px 0 0 8px;
}

.tg-minimap__right-scaler::before {
    left: 6px;
    border-radius: 0 8px 8px 0;
}

.tg-minimap__left-scaler:hover::before,
.tg-minimap__right-scaler:hover::before {
    background: #BBCCDB;
}


/**
* Grid
* --------------------------------
*/
.tg-grid {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 350px;
    color: #939CA1;
    font-size: 14px;
    font-family: 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
}

.tg-grid__section {
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(170,181,191, 0.3);
    transition: bottom 200ms ease, opacity 300ms ease, transform 200ms ease;
    will-change: bottom, opacity;
}

.tg-grid__section--hidden {
    opacity: 0;
    transform: translateY(-30px);
}

.tg-grid__section:not(.no-animation) {
    /*animation: jump-in 200ms ease-in;*/
}

@keyframes jump-in {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}


/**
* Tooltip
* --------------------------------
*/
.tg-tooltip {
    position: absolute;
    background: rgba(255,255,255,.94);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
    top: 20px;
    padding: 10px 15px;
    z-index: 3;
    transition: left 50ms ease, opacity 300ms ease;
    will-change: left, opacity;
    opacity: 0;
}

.tg-tooltip--showed {
    opacity: 1;
}

.tg-tooltip__title {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 6px;
    white-space: nowrap;
}

.tg-tooltip__values {
    display: flex;
}

.tg-tooltip__values-item:not(:last-of-type) {
    margin-right: 10px;
}

.tg-tooltip__values-item b {
    display: block;
    font-size: 18px;
    white-space: nowrap;
}



/**
 * Legend module
 * --------------------------------
 */
.tg-legend {
    margin-bottom: 50px;
    font-family: 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
}

.tg-legend__item {
    display: inline-block;
    padding: 5px 12px 6px 5px;
    border-radius: 30px;
    border: 1px solid rgba(170,181,191,0.33);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
}

.tg-legend__checkbox {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    border: 2px solid #DAE2E7;
    border-radius: 50%;
    background: transparent;
    margin-right: 5px;
    margin-bottom: -1px;
    transition: box-shadow 260ms ease;
}

.tg-legend__checkbox::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    display: inline-block;
    width: 8px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    opacity: 0;
}

.tg-legend__item--enabled .tg-legend__checkbox::before {
    animation: rolling 200ms 100ms ease;
    animation-fill-mode: forwards;
}

@keyframes rolling {
    from {
        transform: rotate(-20deg) translate(2px, 7px) scale(0.8);
        opacity: 0;
        width: 0;
        height: 0;
    }

    to {
        transform: rotate(-45deg);
        opacity: 1;
        width: 8px;
        height: 4px;
    }
}


/**
 * Night mode
 * --------------------------------
 */
.tg--night-mode {
    background: #242F3E;
    color: #E2E8EE;
}

.tg--night-mode .tg-minimap__left,
.tg--night-mode .tg-minimap__right {
    background: rgba(30, 40, 53, 0.73);
    border-color: #1f2938;
}

.tg--night-mode .tg-chart footer,
.tg--night-mode .tg-grid {
    color: #5C6C7B;
}

.tg--night-mode .tg-legend__item {
    border-color: #384757;
}

.tg--night-mode .tg-tooltip {
    background: #273240;
    box-shadow: 0 2px 4px 0 rgba(18,29,39,0.67);
}

.tg--night-mode .tg-tooltip__title {
    color: #E2E8EE;
}

.tg--night-mode .tg-pointer__pointer {
    background: #242F3E;
}
