/**
 * Styles for Telegraph charts module
 * @todo split modules for separate files and use PostCSS for better scaling
 * @author Peter Savchenko <specc.dev@gmail.com>
 */

/**
 * Chart module
 * --------------------------------
 */
.tg-chart {
    position: relative;
    margin-bottom: 25px;
    margin-right: 15px;
    font-size: 14px;
    /*overflow-x: hidden;*/
    font-family: 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

@media all and (max-width: 585px){
    .tg-chart {
        /*overflow: visible;*/
    }
}

.tg-chart__viewport {
    display: block;
    /*vertical-align: bottom;*/
    /*will-change: transform;*/
    overflow-x: hidden;
}

.tg-chart svg {
    width: 100%;
    height: 100%;
}


.tg-chart g,
.tg-minimap g {
    transform-origin: bottom left;
    will-change: transform;
}

.tg-chart .oy-group,
.tg-minimap .oy-group {
    transition: transform 300ms ease;
    will-change: transform;
    shape-rendering: optimizespeed;
}

.tg-chart path.scaled {
    transition: transform 400ms ease, opacity 300ms ease;
    will-change: transform, opacity;
}

.tg-chart path,
.tg-minimap path {
    transform-origin: bottom left;
    transition: opacity 300ms ease;
    will-change: opacity;
    shape-rendering: optimizespeed;
}

.tg-chart--line path {
    shape-rendering: geometricprecision;
}

.tg-chart .tg-graph--hidden,
.tg-minimap .tg-graph--hidden {
    opacity: 0;
}

/**
 * Header
 */
.tg-header {
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
}

.tg-header__title {
}

.tg-header__dates {
    margin-left: auto;
    margin-top: auto;
    font-size: 15px;
    vertical-align: bottom;
}

@media all and (max-width: 1000px) {
    .tg-header {
        font-size: 15px;
    }

    .tg-header__dates {
        font-size: 13px;
    }
}

/**
 * Bar
 */

.tg-bar {
    will-change: opacity, transform;
    transition: opacity 350ms ease, transform 300ms ease;
}

.tg-bar--hidden {
    /*display: none;*/
    opacity: 0;
}

.tg-chart .tg-bar--hidden {
    transform: matrix(1, 0, 0, 0.1, 0, 50);
}

.tg-minimap .tg-bar {
    transition: none !important;
}

.tg-bar rect {
    /*transition: height 300ms ease;*/
    will-change: height, y;
    shape-rendering: optimizespeed;
}

.tg-chart__overlays {
    will-change: opacity;
    transition: opacity 250ms ease;
}

.tg-chart__overlay-left,
.tg-chart__overlay-right {
    fill: #fff;
    opacity: 0.5;
    will-change: width, x;
}

/**
 * Area
 */
.tg-area {
    will-change: opacity, transform !important;
    transition: all 170ms ease !important;
}

.tg-area--hidden {
    /*opacity: 0 !important;*/
    transform: scaleY(0) !important;
}



/**
 * Footer with dates
 * ----------------------------
 */
.tg-chart footer {
    margin-top: 10px;
    margin-left: 15px;
    height: 18px;
    color: #939CA1;
    font-size: 12px;
    font-family: Roboto, 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
    /*margin-left: -26px;*/
}

.tg-chart time {
    position: absolute;
    display: block;
    white-space: nowrap;
    transition: opacity 250ms ease;
    will-change: opacity, transform;

    animation: fade-in 250ms ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tg-chart time.hided {
    opacity: 0;
}


/**
* Pointer: a line below the Tooltip
* --------------------------------
*/
.tg-pointer {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    opacity: 0;
    /*transition: opacity 150ms ease, left 50ms ease;*/
    will-change: opacity, left;
}

.tg-pointer--showed {
    opacity: 1;
}

.tg-pointer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: rgba(170,181,191,0.33);
}

.tg-pointer__pointer {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #1f2938;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    bottom: 0;
    margin-bottom: -5px;
    box-sizing: border-box;
    z-index: 2;
    /*transition: transform 200ms ease;*/
    will-change: transform;
}

.tg-pointer__pointer--hidden {
    display: none;
}

/**
 * Mini map module
 * --------------------------------
 */
.tg-minimap {
    position: relative;
    height: 60px;
    margin: 10px 15px 20px;
    cursor: pointer;
    border-radius: 9px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.tg-minimap svg {
    border-radius: 9px;
    overflow: hidden;
}

.tg-minimap__left,
.tg-minimap__right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: rgba(226,238,249,0.60);
    z-index: 2;
    cursor: default;
    will-change: width;
}

.tg-minimap__left::after,
.tg-minimap__right::after {
    content: '';
    width: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(226,238,249,0.60);
    z-index: 1;
}

.tg-minimap__left::after {
    right: -8px;
}

.tg-minimap__right::after {
    left: -8px;
}


.tg-minimap__left {
    left: 0;
    border-radius: 9px 0 0 9px;
}

.tg-minimap__center {
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 10px;
    border-top: 2px solid #C0D1E1;
    border-bottom: 2px solid #C0D1E1;
}

.tg-minimap__center::before,
.tg-minimap__center::after {
    content: '';
    width: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    position: absolute;
}

.tg-minimap__center::before{
    left: 0;
}

.tg-minimap__center::after{
    right: 0;
}


.tg-minimap__right {
    right: 0;
    border-radius: 0 9px 9px 0;
}

.tg-minimap__left-scaler,
.tg-minimap__right-scaler {
    position: absolute;
    height: calc(100% + 4px);
    /*width: 22px;*/
    top: -2px;
    z-index: 2;
    cursor: col-resize;
}

.tg-minimap__left-scaler {
    right: 0;
}

.tg-minimap__right-scaler {
    left: 0;

}

.tg-minimap__left-scaler::before,
.tg-minimap__right-scaler::before {
    content: '';
    position: absolute;
    height: calc(100% + 4px);
    top: -2px;
    width: 16px;
    background: #C0D1E1;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.tg-minimap__left-scaler::after,
.tg-minimap__right-scaler::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 3px;
    border-radius: 5px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.tg-minimap__right-scaler::after {
    left: -10px;
}

.tg-minimap__left-scaler::after {
    right: -10px;
}

.tg-minimap__left-scaler::before {
    right: -16px;
    border-radius: 9px 0 0 9px;
    border-right: 0;
}

.tg-minimap__right-scaler::before {
    left: -16px;
    border-radius: 0 9px 9px 0;
    border-left: 0;
}

.tg-minimap__left-scaler:hover::before,
.tg-minimap__right-scaler:hover::before {
    background: #BBCCDB;
}


/**
* Grid
* --------------------------------
*/
.tg-grid {
    position: absolute;
    right: 0;
    top: 0;
    left: 15px;
    height: 350px;
    color: #939CA1;
    font-size: 12px;
    font-family: Roboto, 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
}

.tg-grid__section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(24,45,59,0.10);
    transition: transform 280ms ease, opacity 350ms ease, bottom 280ms ease;
    will-change: transfrom, opacity;
}

.tg-grid__counter {
    transition: opacity 300ms ease;
    will-change: opacity;
}

.tg-grid__counter--hidden {
    opacity: 0;
}

.tg-chart--line .tg-grid__counter{
    display: inline-block;
    background: rgba(255,255,255,0.96);
    box-shadow: 0 0 5px #fff;
    border-radius: 4px;
    padding: 0px 2px;
    margin: 0 -2px;
}

.tg-grid__counter--second {
    float: right;
}

.tg-grid__section--hidden {
    opacity: 0;
    transform: translateY(-50px);
}

.tg-grid__section:not(.no-animation) {
    /*animation: jump-in 200ms ease-in;*/
}

@keyframes jump-in {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}


/**
* Tooltip
* --------------------------------
*/
.tg-tooltip {
    position: absolute;
    background: rgba(255,255,255,1);
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
    top: 20px;
    padding: 10px 15px;
    z-index: 3;
    transition: left 300ms ease, opacity 400ms ease;
    will-change: left, opacity;
    opacity: 0;
    min-width: 130px;
    font-size: 13px;
    font-family: Roboto, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

.tg-tooltip--showed {
    opacity: 1;
}

.tg-tooltip__title {
    font-weight: 500;
    margin-bottom: 7px;
    white-space: nowrap;
}

.tg-tooltip__title .left {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.tg-tooltip__title .left span {
    right: auto;
    left: 0;
}

.tg-tooltip__values {
    display: flex;
    flex-direction: column;
}

.tg-tooltip__values-item {
    display: flex;
}

.tg-tooltip__values-item:not(:last-of-type) {
    margin-bottom: 5px;
}

.tg-tooltip__values-item b {
    margin-left: auto;
    white-space: nowrap;
    position: relative;
}

.counter-prev {
    position: absolute;
    animation: exit 400ms ease;
    will-change: transform, opacity;
    animation-fill-mode: forwards;
    right: 0;
    height: 1em;
}

.counter-cur {
    position: absolute;
    animation: enter 400ms ease;
    will-change: transform, opacity;
    animation-fill-mode: forwards;
    right: 0;
    height: 1em;
}

.counter-prev.top {
    animation: exitTop 300ms ease;
    animation-fill-mode: forwards;
}
.counter-cur.top {
    animation: enterTop 300ms ease;
    animation-fill-mode: forwards;
}

@keyframes exit {
    from {
        transform: none;
        opacity: 1;
    }

    to {
        transform: translate(0px, -1px) scale(1.35);
        opacity: 0;
    }
}

@keyframes enter {
    from {
        transform: scale(0.85) translateX(-2px);
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
        opacity: 1;
    }

    to {
        transform: none;
    }
}


@keyframes exitTop {
    from {
        transform: none;
        opacity: 1;
    }

    to {
        transform: translate(0, -5px);
        opacity: 0;
    }
}

@keyframes enterTop {
    from {
        transform: translate(0, 5px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}


/**
 * Legend module
 * --------------------------------
 */
.tg-legend {
    margin-bottom: 50px;
    padding: 0 15px;
    font-family: 'Helvetica Neue', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
}

.tg-legend__item {
    display: inline-block;
    padding: 7px 18px;
    border-radius: 30px;
    border: 2px solid rgba(170,181,191,0.33);
    color: #fff;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
    transition: all 300ms ease;
    will-change: background-color, border-color;
}

.tg-legend__item--wobble {
    animation: wobble 600ms ease-out !important;
}

@keyframes wobble {
    0%{
        opacity: 0.5;
        transform: rotate(-4deg);
    }

    25%{
        opacity: 1;
    }

    75%{
        opacity: 0.5;
        transform: rotate(4deg);
    }

    100% {
        opacity: 1;
    }

}

.tg-legend__checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    display: none;
    margin-right: 7px;
    margin-left: -7px;
}

.tg-legend__checkbox::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    display: inline-block;
    width: 11px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    opacity: 0;
}

.tg-legend__item--enabled {
}

.tg-legend__item--selected {
    animation: splash 300ms ease;
    animation-fill-mode: forwards;
}

.tg-legend__item--enabled .tg-legend__checkbox::before {
    animation: rolling 200ms 100ms ease;
    animation-fill-mode: forwards;
}

.tg-legend__item--enabled .tg-legend__checkbox {
    display: inline-block;
}

@keyframes rolling {
    from {
        transform: rotate(-20deg) translate(2px, 7px) scale(0.8);
        opacity: 0;
        width: 0;
        height: 0;
    }

    to {
        transform: rotate(-50deg);
        opacity: 1;
        width: 11px;
        height: 5px;
    }
}


@keyframes splash {
    from {
        transform: scale(0.9);
    }

    80% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


/**
 * Night mode
 * --------------------------------
 */
.tg--night-mode {
    background: #242F3E;
    color: #fff;
}

.tg--night-mode .tg-minimap__left,
.tg--night-mode .tg-minimap__right {
    background: rgba(48,66,89,0.60);
}

.tg--night-mode .tg-minimap__left::after,
.tg--night-mode .tg-minimap__right::after {
    background: rgba(48,66,89,0.60);
}

.tg--night-mode .tg-minimap__left-scaler::before,
.tg--night-mode .tg-minimap__right-scaler::before {
    background: #56626D;
    border: 0;
    height: calc(100% + 2px);
    top: 0;
}

.tg--night-mode .tg-minimap__left-scaler,
.tg--night-mode .tg-minimap__right-scaler {
    height: calc(100% + 2px);
}
.tg--night-mode .tg-minimap__center {
    border-color: #56626D;
}
.tg--night-mode .tg-chart--line .tg-grid__counter {
    background: #242F3E;
    box-shadow: 0 0 10px 2px #242F3E;

}
.tg--night-mode .tg-minimap__center::before,
.tg--night-mode .tg-minimap__center::after {
    background: #242F3E;
    opacity: 0.5;
}

.tg--night-mode .tg-legend__item {
    border-color: #384757;
}

.tg--night-mode .tg-tooltip {
    background: #1C2533;
    color: #fff;
    box-shadow: none;
}

.tg--night-mode .tg-tooltip__title {
    color: #fff;
}

.tg--night-mode .tg-pointer__pointer {
    background: #242F3E;
}

.tg--night-mode .tg-chart__overlays rect {
    fill: #242F3E;
}

.tg--night-mode .tg-grid__section {
    border-color: rgba(255, 255,255, 0.1);
}

.tg--night-mode .tg-chart footer,
.tg--night-mode .tg-grid {
    color: rgba(217, 242, 255, 0.27);
}